<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <title>Produit</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">

    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/}">Accueil</a>
            <a class="navbar-brand" th:href="@{/produits}">Produit</a>
            <a class="navbar-brand" th:href="@{/commandes}">Commande</a>
            <a class="navbar-brand" th:href="@{addLigneCommande}">Panier</a>

            <form class="d-flex">
                <div sec:authorize="isAuthenticated()">
                    <a class="navbar-brand"  th:href="@{/users}">Déconnexion</a>
                </div>
                <div sec:authorize="!isAuthenticated()">
                    <a class="navbar-brand"  th:href="@{/users}">Connexion</a>
                </div>
            </form>

        </div>
    </nav>
</head>

<body style="background-color: grey">
<h1>
    Ajout commande
</h1>

<form action="#" th:action="@{/addCommande}" th:object="${commande}" method="post">
    <label for="dateCommande">Date de la Commande :</label><br/>
    <input type="text" th:field="*{dateCommande}" id="dateCommande"><br/><br/>
    <label for="adresseLivraison">Adresse de Livraison:</label><br/>
    <input type="text" th:field="*{adresseLivraison}" id="adresseLivraison"><br/><br/>
    <label for="livreur">Livreur :</label><br/>
    <select type="text" th:field="*{livreur}" name="livreur" id="livreur">
        <option th:value="En_attente">En attente d'un livreur</option>
    </select><br/><br/>
    <label for="quantite">Quantité :</label><br/>
    <input type="text" th:field="*{quantite}" id="quantite"><br/><br/>
    <label for="produit_id">Id du produit :</label><br/>
    <input type="text" th:field="*{produit_id}" id="produit_id"><br/><br/>
    <label for="status">Status :</label><br/>
    <select type="text" th:field="*{status}" name="status" id="status">
        <option th:value="En_attente_de_livraison">En attente de livraison</option>
    </select><br/><br/>

    <input type="submit" value="Valider">
</form>

</body>
</html>
