<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <title>Produit</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">

    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/}">Accueil</a>
            <a class="navbar-brand" th:href="@{/produits}">Produit</a>
            <a class="navbar-brand" th:href="@{/commandes}">Commande</a>
            <a class="navbar-brand" th:href="@{addLigneCommande}">Panier</a>

            <form class="d-flex">
                <div sec:authorize="isAuthenticated()">
                    <a class="navbar-brand"  th:href="@{/users}">Déconnexion</a>
                </div>
                <div sec:authorize="!isAuthenticated()">
                    <a class="navbar-brand"  th:href="@{/users}">Connexion</a>
                </div>
            </form>

        </div>
    </nav>
</head>

<body style="background-color: grey">
<h1>
    Ajout commande au panier
</h1>
<form th:action="@{/addLigneCommande}" th:object="${ligneCommande}" method="post">
    <div class="mb-3">
        <select type="text" th:field="*{produit_id}" name="produit_id" id="produit_id" class="form-select">
            <option th:value="${produit.id}">
                <p th:text="${produit.name}"></p>
            </option>
        </select>
    </div>
    <div class="mb-3">
        <select type="text" th:field="*{quantite}" name="quantite" id="quantite" class="form-select">
            <option th:value="1">1</option>
            <option th:value="2">2</option>
            <option th:value="3">3</option>
            <option th:value="4">4</option>
            <option th:value="5">5</option>
            <option th:value="6">6</option>
            <option th:value="7">7</option>
            <option th:value="8">8</option>
            <option th:value="9">9</option>
            <option th:value="10">10</option>
        </select>
    </div>
    <div class="mt-3 text-center">
        <input class="btn btn-primary mt-3" type="submit" value="Valide"/>
    </div>
</form>




</body>
</html>
