<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <title>Commande</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">

    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/}">Accueil</a>
            <a class="navbar-brand" th:href="@{/produits}">Produit</a>
            <a class="navbar-brand" th:href="@{/commandes}">Commande</a>
            <a class="navbar-brand" th:href="@{addLigneCommande}">Panier</a>

            <form class="d-flex">
                <div sec:authorize="isAuthenticated()">
                    <a class="navbar-brand"  th:href="@{/users}">Déconnexion</a>
                </div>
                <div sec:authorize="!isAuthenticated()">
                    <a class="navbar-brand"  th:href="@{/users}">Connexion</a>
                </div>
            </form>

        </div>
    </nav>
</head>

<body style="background-color: grey">
<h1>
    Commandes effectuées:
</h1>
<p>
    <div sec:authorize="hasRole('Administrateur')" style="text-align: center">
        <div class="d-grid gap-2 col-4 mx-auto">
            <a class="btn btn-primary btn-primary" th:href="@{addCommande}">Créer une nouvelle commande</a>
        </div>
    </div>
</p>

<table class="table">
    <tr>
        <th>Date de la commande :  </th>
        <th>Adresse de livraison :  </th>
        <th>Livreur :  </th>
        <th>Quantité :  </th>
        <th>Id du produit :</th>
        <th>Status :  </th>
        <div sec:authorize="hasRole('Livreur')">
            <th>Modifier :  </th>
        </div>
    </tr>
    <div th:each="commande: ${commandes}">
        <tr>
            <td>
                <span th:text="${commande.dateCommande}"></span>
            </td>
            <td>
                <span th:text="${commande.adresseLivraison}"></span>
            </td>
            <td>
                <span th:text="${commande.livreur}"></span>
            </td>
            <td>
                <span th:text="${commande.quantite}"></span>
            </td>
            <td>
                <span th:text="${commande.produit_id}"></span>
            </td>
            <td>
                <span th:text="${commande.status}"></span>
            </td>
            <td>
                <div sec:authorize="hasRole('Livreur')">
                    <a class="btn btn-sm btn-primary" th:href="@{/commandes/update/{id}(id = ${commande.id})}">Modifier</a></a>
                </div>
            </td>
        </tr>
    </div>
</table>
<a class="btn btn-sm btn-primary" th:href="@{/}">Retour</a>

</body>
</html>