<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">
<head>
<!--    <title>Unauthenticated user</title>-->

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">

    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/}">Accueil</a>
            <a class="navbar-brand" th:href="@{/produits}">Produit</a>
            <a class="navbar-brand" th:href="@{/commandes}">Commande</a>
            <a class="navbar-brand" th:href="@{addLigneCommande}">Panier</a>

            <form class="d-flex">
                <div sec:authorize="isAuthenticated()">
                    <a class="navbar-brand"  th:href="@{/users}">Déconnexion</a>
                </div>
                <div sec:authorize="!isAuthenticated()">
                    <a class="navbar-brand"  th:href="@{/users}">Connexion</a>
                </div>
            </form>

        </div>
    </nav>

</head>
<body style="background-color: grey">
    <h1 style="text-align: center">
        Livraison de tests COVID à domicile
    </h1><br/><br/>
    <div class="container-fluid">

        Bienvenue sur le site de livraison de tests COVID à domicile.<br/>


        <div sec:authorize="isAuthenticated()">
            Vous etes actuellement : Connecté
        </div>
        <div sec:authorize="hasRole('Administrateur')">
            Vous etes actuellement connecté avec un compte Administrateur
        </div>
        <div sec:authorize="hasRole('Gouvernement')">
            Vous etes actuellement connecté avec un compte du Gouvernement.
        </div>
        <div sec:authorize="hasRole('Livreur')">
            Vous etes actuellement connecté avec un compte Livreur
        </div>
        <div sec:authorize="!isAuthenticated()">
            Vous etes actuellement : Non Connecté
        </div>


    </div>


</body>
</html>
