<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <title>Produit</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">

    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/}">Accueil</a>
            <a class="navbar-brand" th:href="@{/produits}">Produit</a>
            <a class="navbar-brand" th:href="@{/commandes}">Commande</a>
            <a class="navbar-brand" th:href="@{addLigneCommande}">Panier</a>

            <form class="d-flex">
                <div sec:authorize="isAuthenticated()">
                    <a class="navbar-brand"  th:href="@{/users}">Déconnexion</a>
                </div>
                <div sec:authorize="!isAuthenticated()">
                    <a class="navbar-brand"  th:href="@{/users}">Connexion</a>
                </div>
            </form>

        </div>
    </nav>
</head>

<body style="background-color: grey">
<h1>
    Panier
</h1>
<table class="table">
    <tr>
        <th>Quantité :  </th>
        <th>ID produit :  </th>
        <th>ID commande :  </th>
        <th>Valider</th>
    </tr>
    <div th:each="ligneCommande: ${ligneCommande}">
        <tr>
            <td>
                <span th:text="${ligneCommande.quantite}"></span>
            </td>
            <td>
                <span th:text="${ligneCommande.produit_id}"></span>
            </td>
            <td>
                <span th:text="${ligneCommande.id}"></span>
            </td>
            <td>
                <a class="btn btn-success" th:href="@{addCommande}">Commander</a>
            </td>
        </tr>
    </div>
</table>




</body>
</html>
