<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <title>Produit</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">

    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/}">Accueil</a>
            <a class="navbar-brand" th:href="@{/produits}">Produit</a>
            <a class="navbar-brand" th:href="@{/commandes}">Commande</a>
            <a class="navbar-brand" th:href="@{addLigneCommande}">Panier</a>

            <form class="d-flex">
                <div sec:authorize="isAuthenticated()">
                    <a class="navbar-brand"  th:href="@{/users}">Déconnexion</a>
                </div>
                <div sec:authorize="!isAuthenticated()">
                    <a class="navbar-brand"  th:href="@{/users}">Connexion</a>
                </div>
            </form>

        </div>
    </nav>
</head>

<body style="background-color: grey">
<h1>
    Produit disponible:
</h1>
<p>
    <div class="container-fluid">
        Sur cette page vous allez pouvoir commander vos tests PCR et antigénique.<br/>
        Pour commander, il vous suffit de cliquer sur Ajouter. <br/>
    </div>


    <div sec:authorize="hasRole('Administrateur')" style="text-align: center">
        <div class="d-grid gap-2 col-4 mx-auto">
            <a class="btn btn-primary btn-primary" th:href="@{addProduit}">Créer un nouveau produit</a>
        </div>
    </div>


</p>

    <table class="table">
        <tr>
            <th>Nom du produit :  </th>
            <th>Durée de validité :  </th>
            <th>Instructions :  </th>
            <th>Commander :  </th>
            <div sec:authorize="hasRole('Administrateur')">
                <th>Supprimer</th>
                <th>Modifier</th>
            </div>
        </tr>
        <div th:each="produit: ${produits}">
            <tr>
                <td>
                    <span th:text="${produit.name}"></span>
                </td>
                <td>
                    <span th:text="${produit.duree}"></span>
                </td>
                <td>
                    <span th:text="${produit.instruction}"></span>
                </td>
                <td>
                    <a class="btn btn-success" th:href="@{/addLigneCommande/{id}(id = ${produit.id})}">Ajouter</a>
                </td>
                <div sec:authorize="hasRole('Administrateur')">
                    <td>
                        <a class="btn btn-sm btn-danger" th:href="@{/produits/delete/{id}(id = ${produit.id})}">Supprimer</a></a>
                    </td>
                    <td>
                        <a class="btn btn-sm btn-primary" th:href="@{/produits/update/{id}(id = ${produit.id})}">Modifier</a></a>
                    </td>

                </div>
            </tr>
        </div>
    </table>
<a class="btn btn-sm btn-primary" th:href="@{/}">Retour</a>



</body>
</html>